.general-button {
    background-color: #d8d8d8;
    margin: 5px;
    padding: 10px 15px;
    border-radius: 6px;
    box-shadow: 1px 2px 0px 0px gray;
    border: 1px solid gray;
    cursor: pointer;
    font-family: 'FuturaHandwritten';
    font-size: 16px;
}

.light-button:hover {
    background-color:#b4b4b4;
}

.save-buttons {
    display: flex;
    margin-top: 20px;
}

.thumbnail-canvas {
    display:inline-block;
}
  
@font-face{ 
    font-family: 'FuturaHandwritten';
    font-style: normal;
    src: url('../assets/FuturaHandwritten.ttf') format('truetype');
}

select {
    font-family: 'FuturaHandwritten';
    font-style: normal;
    padding: 5px;
}

.hidden {
    display: none !important;
}

.bottom-instructions {
    background-color: #ffffff;
    padding: 0px 25px 1px 25px;
}

hr{
    border: none;
    border-bottom: 2px dashed #ccc;
    margin: 1.5em 0;
}
.cursor-grab{
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: -ms-grab;
    cursor: grab;
}
.cursor-grabbing{
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: -ms-grabbing;
    cursor: grabbing;
}

#move-button {
    margin: 10px;
}

button {
    margin: 10px;
    padding: 15px;
    cursor: pointer;
}

#color-picker {
    float: right;
    border-radius: 10px;
    margin: 10px;
}

.number-slider-widget {
    position: relative;
    display: inline;
    cursor: col-resize;
    min-width: 0.8em;
    text-align: center;

    padding-bottom: 0px;
    border-bottom: 2px solid #bbb;
}

.base-modal{
    position: relative;
}
.base-modal > canvas{
	position: absolute;
}

/* hidden input over buttons */
input[type="button"].color-palette-widget {

    display: inline-block;
    position: relative;
    color: transparent;

	line-height: 1.5em;
	padding: 0 0.3em;

	border-radius: 5px;
	border: 2px solid #ccc;
	
	cursor: pointer;


    border-radius: 1000px; /* infinite roundness */
	width: 1.5em;
    height: 1.5em;
    padding: 0;
    border-color: rgba(0,0,0,0.1);

    /* font-size: 0; */
    /* top: '0';
    left: '0'; */
    width: 2em;
    height: 2em;
    /* height: 22.5px; */
    border-radius: 1000px;

    cursor: point;
}


/* Range slider styling - thank you https://range-input-css.netlify.app/ */

/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 200px;
  }
  
  /* Removes default focus */
  input[type="range"]:focus {
    outline: none;
  }
  
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #bfbfbf;
    border-radius: 0.5rem;
    height: 0.3rem;
  }
  
  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -5.6px; /* Centers thumb on the track */
    background-color: #808080;
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }
  
  input[type="range"]:focus::-webkit-slider-thumb {
    outline: 3px solid #808080;
    outline-offset: 0.125rem;
  }
  
  /*********** Firefox styles ***********/
  /* slider track */
  input[type="range"]::-moz-range-track {
    background-color: #bfbfbf;
    border-radius: 0.5rem;
    height: 0.3rem;
  }
  
  /* slider thumb */
  input[type="range"]::-moz-range-thumb {
    background-color: #808080;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 0.5rem;
    height: 1rem;
    width: 1rem;
  }
  
  input[type="range"]:focus::-moz-range-thumb{
    outline: 3px solid #808080;
    outline-offset: 0.125rem;
  }






input[type="number"].numberbox-for-slider {
    border: 1px solid lightgray;  /* sets the border color to light gray */
    border-radius: 4px;          /* rounds the corners slightly */
    outline: none;               /* removes the blue outline when focused */
    padding: 5px 8px;            /* adds some internal spacing */
    transition: border 0.3s;    /* smooth transition for border changes */
}

input[type="number"].numberbox-for-slider:focus {
    border-color: darkgray;       /* changes border color when input is focused */
    background-color: lightgray;
}




/* number that can be clicked to display a slider modal*/
.number-widget {
    display: inline-block;
    text-decoration: underline lightgray 2px;
    text-underline-offset: 5px;
    cursor: default;
}

/* the parent div holding a connected slider and number box */
.number-slider {
    padding: 30px;
}

.slider-for-numberbox {
    display: block;
    width: 100px;
    margin-top: 30px;
    background-color: blue;
}

.numberbox-for-slider {
    display: block;
    text-align: center;
    margin: auto;
    width: 60%;
    font-family: 'FuturaHandwritten';
    font-size: 24px;
    border-color: gray; /*not working*/
    border: solid;
    border-radius: 2px;
}


.list-title {
    margin-left: 0.5em;  /* Some space between the arrow and the title */
}


:root {
    --coordinate-grid-margin: 15px;
}


.coordinate-widget {
    display: inline-block;
}

.underline-editable {
    text-decoration: underline lightgray 2px;
    text-underline-offset: 5px;
    cursor: pointer;
}

.outer-grid-container {
    /* width: 250px;
    height: 150px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.coordinate-and-grid-container {
    display: flex;
    flex-direction: row;
    margin: var(--coordinate-grid-margin);
}

.grid {
    position: relative;
    width: 120px;
    height: 120px;
    border: 1px solid darkgray;
    background: repeating-linear-gradient(0deg, #e5e5e5, #e5e5e5 1px, transparent 1px, transparent 10px),
                repeating-linear-gradient(90deg, #e5e5e5, #e5e5e5 1px, transparent 1px, transparent 10px);
    cursor: crosshair;
}

.cursor-circle {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #333;   /* dark circle for visibility */
    border-radius: 50%;       /* makes it a circle */
    transform: translate(-50%, -50%);  /* centers the circle on the mouse position */
    pointer-events: none;     /* ensures it doesn't interfere with mouse events */
}

.coordinate-pair {
    display: flex;
    align-items: center;
    gap: 5px; /* Small gap between the label and input */
}

.coordinate-container span, 
.coordinate-container .coordinate-numberbox {
    font-size: 1.5em;      /* Adjust the font size as needed */
}

.coordinate-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 20px; /* Space between the grid and the coordinate boxes */
}

.coordinate-numberbox {
    width: 50px;
    margin: 2px 0;
    text-align: center;
    font-family: 'FuturaHandwritten';
}

.drag-handle {
    cursor: grab;
}

#trash-icon {
    margin: auto;
    /* translate: 0px 10px; */
    font-size: 2em;
    text-align: center;
    color: gray;
    pointer-events: none;
}


.sortable-chosen {
    /* background-color: yellow; */
    /* margin-left: 100px; */
}

.sortable-ghost {
    /* background-color: pink; */
    /* margin-left: 100px; */
}

.sortable-ghost-delete {
    /* background-color: blue; */
    display: none;
}

.sortable-chosen-delete {
    /* background-color: pink; */
}

::-webkit-scrollbar { /* Mac OS X hides scrollbars */
    -webkit-appearance: none;
    width: 10px;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.joy-widget {
    /* display: flex;? */
    /* vertical-align: top; */
}


.joy-single-action {
    font-style: italic;
}

#painting-list-add-item > .joy-master {
    display: inline-block;
    margin: 0 0 0 0.5em;
    padding: 0px;
    opacity: 0.3;
    font-style: italic;
}

.joy-list-item .joy-list-item:nth-child(odd) {
    /* border: 1px solid #e4e4e4; */
}

.joy-list-item .joy-list-item:nth-child(even) {
    /* border: 1px solid #e4e4e4;
    background-color: #f7f7f7; */
}

.joy-list-item.selected {
    background-color:#fcfbc0;
    /* font-weight: bold; */
    transform: scale(1.2); /* Adjust the scaling factor as needed */
    transform-origin: left center; /* Makes the element scale from the left edge */
    z-index: 1; /* Optional: Ensure the enlarged element appears on top */
    transition: transform 0.3s ease;
    /* border: 2px solid lightgray; */
    margin: 0.5em 0;
}

.path-widget-container {
    display: inline-block;
    vertical-align: bottom;
    /* align-self: center; */
    /* margin: 5px 0px 0px 0px; */
    /* text-align: center; */
    /* height: 2em; */
    /* translate: 0px 10px; */
    padding: 0;
    margin: 0;
    height: 32px;
    align-self: center;
    /* border: 1px dashed blue; */
}

.path-preview {
    /* vertical-align: middle; */
    /* display: inline-block; */
    /* padding: 5px 0px 0px 0px; */
    /* text-align: center; */
    /* align-self: center; */
    /* width: 1.5em; */
	/* height: 1.5em; */
}

/* Checkbox styling from https://moderncss.dev/pure-css-custom-checkbox-style/ */
form {
    display: grid;
    place-content: center;
    min-height: 100vh;
  }
  
  .form-control {
    /* font-family: system-ui, sans-serif; */
    font-size: 1em;
    /* font-weight: bold; */
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.75em;
  }
  
  .form-control + .form-control {
    margin-top: 1em;
  }
  
  .form-control--disabled {
    color: var(--form-control-disabled);
    cursor: not-allowed;
  }
  
  input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* Not removed via appearance */
    margin: 0;
  
    font: inherit;
    color: black;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid gray;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
  
    display: grid;
    place-content: center;
  }
  
  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    /* Windows High Contrast Mode */
    background-color: CanvasText;
  }
  
  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }
  
  input[type="checkbox"]:hover {
    outline: max(2px, 0.15em) solid gray;
    outline-offset: max(2px, 0.15em);
  }

  span.list-title {
    margin-top: 0px;
    margin-bottom: 0px;
  }






