.program-panel button{
    display: block;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 750px 1fr;
    /* grid-template-rows: 1fr 6fr repeat(2, 1fr); */
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    /* background-color:#dbdbdb; */
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    /* align-items: center; */
    /* justify-items: center; */
 }

.top-menu { grid-area: 1 / 1 / 2 / 4; }
.toolbar { grid-area: 2 / 1 / 3 / 2; }
.drawing-panel { grid-area: 2 / 2 / 3 / 3; }
.code-panel { grid-area: 2 / 3 / 3 / 4; }
.options-bar { grid-area: 3 / 2 / 4 / 3; }
.footer { grid-area: 4 / 1 / 5 / 4; }

.toolbar {
    /* width: 100%;
     height: 100%; */
    padding: 10px;
    /* background-color: blue; */
    /* max-width: 75px; */
}

.tool-buttons {
    display: block;
}

.tool-button {
    width: 70px;
    height: 70px;
}

#brushes-button { background-color: #EC6B2C }
#stamps-button { background-color: #6D8EF7 }
#effects-button { background-color: #CA3A7E }
#patterns-button { background-color: #F3B33E }
#stencils-button { background-color: #7BC56E }
#favorites-button { background-color: #a53ffd }

.footer {
    /* background-color: red; */
}

.top-menu {
    /* background-color: green; */
}

.drawing-panel {
    /* background-color: pink; */
}

.program-panel {
    /* background-color: orange; */
}

.program-buttons {
    display:flex;
}

.save-buttons {
    display: flex;
    margin-top: 20px;
}

.options-bar {
    /* background-color: lightblue; */
}

html, body {
    margin: 0;
    padding: 0;
    line-height: 24px;
    font-size: 16px;
    box-sizing: border-box;
  }

  canvas {
    display: block;
    margin: 10px;
  }

  input[type="button"], button {
    border-width: 1px;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    margin: 6px;
    cursor: pointer;
    background-color: #e9e9e9;
  /*   padding: 10px;
    border-radius: 5px;
    background-color: #C0C0C0; */
  }
  
  #code-panel {
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: #8B8B8B;
    overflow-y: scroll;
    width: 600px;
    height:350px;
}
  
  .code-line {
    background-color: white;
  /*   font-family: "Courier New", monospace; */
  /*   font-family: 'Coming Soon', cursive; */
    font-family: 'Delius Swash Caps', cursive;
  /*   font-family: 'Short Stack', cursive; */
  /*   font-family: 'Walter Turncoat', cursive; */
    line-height: 20px;
    cursor: pointer;
    border-width: 0.5px;
    border-color: #8B8B8B;
    border-style: solid;
    padding: 6px;
    display: block;
  /*   display: inline-block; */
  }
  
  .param {
    font-size: 10px;
    margin: 0px 10px 0px 10px;
    display: inline;
  }
  
  .code-line:hover {
    background-color: #D6D6D630;
  }
  
  .code-line.selected {
    background-color: #D8D8D899;
  }
  
  .effect-button.selected {
    background-color: #FFE664;
  }
  
  /* #current-effect-params {

  } */

  .preview-thumbnail {
    width: 50px;
    height: 50px;
    background-color: green;
    display: inline;
    margin: 0px;
  }

  .code-with-params {
    display: inline;
    margin-left: 10px;
  }